.container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  gap: 10px;

}

.image-card {
  padding: 5px;
}

.image {
  border-radius: 8px;
  width: 100%;
}

.tags {
  text-align: center;
  padding: 20px 0;
  background-color: rgb(43, 92, 226);
  margin-bottom: 15px;
}

.tag {
  outline: none;
  border: none;
  color:#fff ;
  margin: 0 10px;
  background: transparent;
  cursor: pointer;
}

.active { 
  font-weight:900;
}